:root {
    --navbar-bg-color: #fff; /* Custom property for the navbar background color */
    --sidebar-bg-color: #f8f9fa;
    --menu-text-color-light: #000;
    --menu-text-color-dark: #fff;
    --body-bg-color-light: #ffffff;
    --body-bg-color-dark: #222222;
    --body-text-color-light: #000;
    --body-text-color-dark: #fff;
  }
  
  [data-theme='light'] {
    --navbar-bg-color: #fff;
    --sidebar-bg-color: #f8f9fa;
    --menu-text-color: var(--menu-text-color-light); /* Use light text color */
    --body-bg-color: var(--body-bg-color-light);
    --body-text-color: var(--body-text-color-light);
  }
  
  [data-theme='dark'] {
    --navbar-bg-color: #1a1a1a;
    --sidebar-bg-color: #1a1a1a;
    --menu-text-color: var(--menu-text-color-dark); /* Use dark text color */
    --body-bg-color: var(--body-bg-color-dark);
    --body-text-color: var(--body-text-color-dark);
  }

  .p-panelmenu{
    gap: 0 !important;
  }

  .p-panelmenu-panel{
    border-radius: 0 !important;
    border: none !important;
  }

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}