:root {
    --navbar-bg-color: #fff; /* Custom property for the navbar background color */
    --sidebar-bg-color: #fff;
    --body-bg-color: #ffffff;
    --body-text-color: #000;
    --inputtext-bg-color: #fff;
    --inputtext-color: #000;
    --menubar-item-color:#000;
    --menubar-item-bg-color:#fff;
    --panemenu-item-color:#000;
    --panelmenu-item-bg-color:#fff;
    --datatable-bg-color:#fff;
    --datatable-color:#000;
  }
  
  [data-theme='light'] {
    --navbar-bg-color: #fff;
    --sidebar-bg-color: #fff;
    --body-bg-color: #fff;
    --body-text-color: #000;
    --inputtext-bg-color: #fff;
    --inputtext-color: #000;
    --menubar-item-color:#000;
    --menubar-item-bg-color:#fff;
    --panemenu-item-color:#000;
    --panelmenu-item-bg-color:#fff;
    --datatable-color:#000;
    --datatable-bg-color:#fff;
  }
  
  [data-theme='dark'] {
    --navbar-bg-color: #000;
    --sidebar-bg-color: #000;
    --body-bg-color: #000;
    --body-text-color: #fff;
    --inputtext-bg-color: #000;
    --inputtext-color: #fff;
    --menubar-item-color:#fff;
    --menubar-item-bg-color:#000;
    --panemenu-item-color:#fff;
    --panelmenu-item-bg-color:#000;
    --datatable-color:#fff;
    --datatable-bg-color:#000;
  }

  .p-menubar{
    background-color: var(--navbar-bg-color) !important;
  }

  .p-menubar-item-link{
    background-color: var(--menubar-item-bg-color) !important;
    color: var(--menubar-item-color) !important;
  }

  .p-panelmenu-panel{
    border-radius: 0 !important;
    border: none !important;
    background-color: var(--sidebar-bg-color) !important;
  }
  
  .p-panelmenu-header-link{
    background-color: var(--panelmenu-item-bg-color);
    color: var(--panemenu-item-color) !important;
  }

  .p-panelmenu-item-link{
    background-color: var(--panelmenu-item-bg-color);
    color: var(--panemenu-item-color) !important;
  }

  .p-inputtext{
    background-color: var(--inputtext-bg-color) !important;
    color: var(--inputtext-color) !important;
  }



.p-datatable-header-cell{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}
.p-datatable-table{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.p-datatable-tbody > tr > td{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.p-paginator{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.p-select-label{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.p-select-dropdown{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.p-select-option{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.p-dialog-header{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.p-dialog-content{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

.labels{
  color: var(--datatable-color) !important;
}

.p-dialog-footer{
  background-color: var(--datatable-bg-color) !important;
  color: var(--datatable-color) !important;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}