:root {
    --navbar-bg-color: #fff; /* Custom property for the navbar background color */
    --sidebar-bg-color: #f8f9fa;
    --menu-text-color-light: #000;
    --menu-text-color-dark: #fff;
    --body-bg-color-light: #ffffff;
    --body-bg-color-dark: #222222;
    --body-text-color-light: #000;
    --body-text-color-dark: #fff;
  }
  
  [data-theme='light'] {
    --navbar-bg-color: #fff;
    --sidebar-bg-color: #f8f9fa;
    --menu-text-color: var(--menu-text-color-light); /* Use light text color */
    --body-bg-color: var(--body-bg-color-light);
    --body-text-color: var(--body-text-color-light);
  }
  
  [data-theme='dark'] {
    --navbar-bg-color: #1a1a1a;
    --sidebar-bg-color: #1a1a1a;
    --menu-text-color: var(--menu-text-color-dark); /* Use dark text color */
    --body-bg-color: var(--body-bg-color-dark);
    --body-text-color: var(--body-text-color-dark);
  }

  .navbar .p-menubar-root-list{
    gap: 10px;
    font-size: 17px;
    color: var(--menu-text-color); /* Dynamically set the text color based on theme */
  }

  .sidebar .p-panelmenu-panel {
    border: none;
    margin: 5px;
    color: var(--menu-text-color); /* Dynamically set the text color based on theme */
  }

.sidebar .p-panelmenu-item-link{
  padding: 5px;
}

.p-menubar-mobile .p-menubar-root-list{
  background-color: var(--navbar-bg-color) !important;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}